[flake8]
ignore =
    F841,
    W503,
    F811
exclude = 
    venv,
    .git,
    __pycache__,
    migrations
max-line-length = 88
per-file-ignores =
    __init__.py: E402
    */migrations/*: E402, E501